@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,400;0,700;1,300&family=Work+Sans:wght@400;700&display=swap');

/* font-family: 'Gantari',
sans-serif;
font-family: 'Work Sans',
sans-serif; */
:root{
    --font-color-primary: rgb(25, 24, 24);
}
h1,h2,h3,h4,h5,h6,ul,p {
    margin: 0;
    padding: 0;
}

a{text-decoration: none;}
   
ol,ul {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Work Sans',sans-serif;
    font-size: 18px;
    /* color: $primary-text-color; */
    letter-spacing: 0.03em;
    color: var(--font-color-primary);
    box-sizing: border-box;
}